*{       /*para resetar*/
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 880px) {
  #corpo {
         height: 3000px;
         width: 500px;
   }

  #rodape{
    width: 100%;
    height:50px;
  }
}
body{
    background-color: rgba(216, 223, 243, 0.671);
}
.titulo{
    text-align: center;
}
h1,h2{
    text-align: left;
    padding-bottom: 15px;
}
#menu{
    height: 100px;
    width: 100%;
    background-color:rgba(216, 223, 243, 0.671) ;         
}
#img_cafe{   /*imagem do café do título*/
    width: 40px;
    padding-right: 12px;
    padding-top: 20px;
}

#corpo{           /*corpo do site*/
    height: 2000px;
}


#menu_principal{
    height: 42px;
    padding: 5px;
    padding-top: 15px;
    text-align: center;
    background-color: antiquewhite;
    

}

li{
    display: inline-block;
    padding-right: 10px;
    font-size: 22px;
     
}

.meu_menu{
    list-style: none;
    text-decoration: none;
    color: black;
}

.meu_menu:hover{
    color: rgb(60, 123, 179);
}

/* Carrosel*/
.slider{
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 0px;
    width: 1540px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 25px;
  }
  
  .slider li {
    list-style: none;
    position: absolute;
  }
  
  .slider img{
    width: 1540px;
    height: 400px;
    margin: auto;
    vertical-align: top;
    border-radius: 5px;
  }
  
  .slider input{
    display: none;
  }
  
  .slider label{
    background-color: rgb(247, 237, 237);
    bottom: 10px;
    position: absolute;
    display: block;
    height: 10px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
  }
  
  .slider label:hover{
    background-color: rgb(130, 134, 133);
  }
  
  .slider li:nth-child(1) label{
    left: 700px;
  }
  .slider li:nth-child(2) label{
    left: 750px;
  }
  
  .slider li:nth-child(3) label{
    left: 800px;
  }
  
  .slider img{
    opacity: 0;
    visibility: hidden;
  }
  
  .slider li input:checked ~img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

/*fim do carrosel*/
  


#sobre_mim,#hobbie{
    text-align: left;
    margin: 50px;
}



#formulario{
    margin:50px;
    
}
label{
    margin-left: 5px;
     
}

.field{
    padding-bottom: 10px;
}

#voltar{

    width: 200px;
    height: 50px;
    background-color: rgba(151, 173, 235, 0.671) ;
    border-radius: 25px;
    text-align: center;
    margin-left: 45%;

}
p{
    padding:12px;
    
}

#rodape{
    text-align: center;
    padding-top: 10px;
    height: 35px;
    background-color:  rgba(92, 130, 235, 0.671) ;  /*rgb(128, 125, 122);*/

}


